@tailwind base;
@tailwind components;
@tailwind utilities;

/*    Variables   */
:root {
    --code: #8b5cf6;
    --sub: #a78bfa;
    --sec: #facc15;
}

body {
    scroll-behavior: smooth;
}

/*     Scroll Bar      */
::-webkit-scrollbar {
    background-color: rgb(17, 24, 39);
    width: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--code);
}

/*    Main Home Hero       */

/*      Cursor       */

.cursor {
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}

/*        Btn Shadow       */

.btn-shadow:hover {
    -webkit-box-shadow: -4px 4px 0px 0px var(--sec);
    -moz-box-shadow: -4px 4px 0px 0px var(--sec);
    box-shadow: -4px 4px 0px 0px var(--sec);
}

/*      Header       */
.active-sec {
    -webkit-box-shadow: -4px 4px 0px 0px var(--sec);
    -moz-box-shadow: -4px 4px 0px 0px var(--sec);
    box-shadow: 4px 4px 0px 0px var(--sec);
}

.head-btn-shadow:hover {
    -webkit-box-shadow: -4px 4px 0px 0px var(--sec);
    -moz-box-shadow: -4px 4px 0px 0px var(--sec);
    box-shadow: 4px 4px 0px 0px var(--sec);
}

.logo-shadow:hover {
    text-shadow: 4px 4px 2px var(--sec);
    filter: drop-shadow(4px 4px 0px var(--sec));
}

.txt-shadow {
    text-shadow: 1px 1px 0px rgb(84, 84, 84);
}
